.sup-prediction-container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.sup-prediction-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.sup-form {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 6px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.date-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.approve-btn{
  width: 80px;
  margin-top: 18px;
  padding: 12px;
  background: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.predict-btn {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.predict-btn:disabled {
  background: #9fa8da;
}

.sup-result {
  margin-top: 35px;
}

.sup-result h3 {
  margin-bottom: 12px;
}

.sup-result table {
  width: 100%;
  border-collapse: collapse;
}

.sup-result th,
.sup-result td {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.sup-result th {
  background: #f5f7fb;
  text-align: left;
}
